body {
    font-size: 25px;
    margin: 0px;
    line-height: 1.5;
}

nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 200px;
    background-color: rgba(253, 187, 45, 1);
    padding: 10px;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 0px;
    margin-top: -70px;
    position: fixed;
    color: #74008e;
}

nav a{
    border: #74008e 1px solid;
    border-radius: 20px;
    padding: 20px;
    text-decoration: none;
    width: 170px;
}

nav a:visited{
    color: #74008e;
}

nav a:hover{
    background-color: #74008e;
    color: white;
}
main {
    padding: 20px;
    padding-top: 10px;
    margin-top: 70px;
    height: 100vh;
    background: #650873;
    background: linear-gradient(0deg,rgba(101, 8, 115, 1) 7%, rgba(165, 34, 195, 1) 33%, rgba(240, 140, 0, 1) 68%, rgba(253, 187, 45, 1) 100%);
}

main#overflow-page {
    padding: 20px;
    padding-top: 10px;
    margin-top: 70px;
    height: fit-content;
    background: #650873;
    background: linear-gradient(0deg,rgba(101, 8, 115, 1) 7%, rgba(165, 34, 195, 1) 33%, rgba(240, 140, 0, 1) 68%, rgba(253, 187, 45, 1) 100%);
}

h1{
    align-self: center;
    border: 1px solid black;
    border-radius: 12px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

h2#overview, h2#plot {
    margin-left: 5%;
}

.plot-container {
    background-color: rgba(253, 187, 45, 0.5);
    border: 1px solid black;
    border-radius: 12px;
    width: 80%;
    padding: 20px;
    text-align: justify;
    margin-left: 10%;
}

.cast-list {
    text-align: center;
    padding: 20px;
}

.cast-list ul {
    background-color: rgba(253, 187, 45, 0.5);
    border: 1px solid black;
    border-radius: 12px;
    width: 22%;
    text-align: left;
    margin-left: 38%;
}

.visit-web {
    background-color: rgba(253, 187, 45, 1);
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px;
}

.visit-web:hover {
    background-color: #74008e;
    color: white;
}